.movieList{
    padding: 0 3rem 3rem 3rem;
}

.listTitle{
    font-size: 1.75rem;
    margin: 2.5rem;
}

.list-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}